<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "index" %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'currency:contact-form' %}">Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'currency:rate-list' %}">Rates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'currency:source-list' %}">Source</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'currency:contact-us-create' %}">ContactUs</a>
        </li>

        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <span class="nav-link">Welcome {{ request.user.email }}</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'account:profile' %}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>

    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'account:signup' %}">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
    {% endif %}

      </ul>

    </div>
  </div>
</nav>







<!--<p>-->
<!--    <a href="{% url 'index' %}">Home</a>-->
<!--    <a href="{% url 'currency:contact-form' %}">Messages</a>-->
<!--    <a href="{% url 'currency:rate-list' %}">Rates</a>-->
<!--    <a href="{% url 'currency:source-list' %}">Sources</a>-->
<!--    <a href="{% url 'currency:contact-us-create' %}">ContactUsCreate</a>-->

<!--    {% if request.user.is_authenticated %}-->
<!--        Welcome {{ request.user.email }}-->
<!--        <a href="{% url 'account:profile' %}">Profile</a>-->
<!--        <a href="{% url 'logout' %}">Logout</a>-->
<!--    {% else %}-->
<!--        <a href="{% url 'account:signup' %}">Sign Up</a>-->
<!--        <a href="{% url 'login' %}">Login</a>-->
<!--    {% endif %}-->
<!--&lt;!&ndash;    <a href="/contactus">ContactUs</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a href="/source/list">Sources</a>&ndash;&gt;-->
<!--</p>-->
