Django==4.1.7
ipython
django_extensions==3.2.1
django-admin-rangefilter
django-import-export
bootstrap4==0.1.0
django-crispy-forms==2.0


#flake8
flake8
flake8-builtins
flake8-print
django_debug_toolbar
