{% extends 'base.html' %}

{% block style %}
        table, th, td
        {border: None}
{% endblock style %}

{% block title %}
     ContactUs
{% endblock title %}
{% block content %}

 <form method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
<br>

<table class="table table-striped">
    <thead>
        <th scope="col">ID</th>
        <th scope="col">Created</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Subject</th>
        <th scope="col">Massage</th>
    </thead>
    <tbody>
    {% for client in object_list %}
    <tr>
        <td>{{client.id}}</td>
        <td>{{client.created}}</td>
        <td>{{client.name}}</td>
        <td>{{client.email}}</td>
        <td>{{client.subject}}</td>
        <td>{{client.message}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{%include "includes/pagination.html"%}

{% endblock content %}