{% extends 'base.html' %}

{% block style %}
        table, th, td
        {border: 1px solid black}
{% endblock style %}

{% block title %}
     Rates
{% endblock title %}

{% block content %}
<a href="{% url 'currency:rate-create'%}">Create</a><br>
<table>
    <thead>
        <th>ID</th>
        <th>Buy</th>
        <th>Sell</th>
        <th>Currency</th>
        <th>Update</th>
        <th>Delete</th>
        <th>Details</th>
    </thead>
    <tbody>
    {% for rate in object_list %}
    <tr>
        <td>{{ rate.id }}</td>
        <td>{{ rate.buy }}</td>
        <td>{{ rate.sell }}</td>
        <td>{{ rate.get_currency_display }}</td>
        <td><a href="{% url 'currency:rate-update' rate.id %}">UPDATE</a></td>
        <td><a href="{% url 'currency:rate-delete' rate.id %}">DELETE</a></td>
        <td><a href="{% url 'currency:rate-details' rate.id %}">DETAILS</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}


