{% extends 'base.html' %}

{% block style %}
        table, th, td
        {border: None}
{% endblock style %}

{% block title %}
     Sources
{% endblock title %}

{% block content %}
<a href="/source/create">Create</a><br><br>

<form method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
<br>

<table class="table table-striped">
    <thead>
        <th scope="col">ID</th>
        <th scope="col">Source_url</th>
        <th scope="col">Source_name</th>
        <th scope="col">Update</th>
        <th scope="col">logo</th>
    </thead>
    <tbody>

    {% for source in object_list %}
    <tr>
        <td>{{ source.id }}</td>
        <td>{{ source.source_url }}</td>
        <td>{{ source.name }}</td>
        <td><a href="{% url 'currency:source-update' source.id %}">UPDATE</a></td>
        <td><img src= '/media/logos/{{source.logo_path}}'  width="30" heith="30"></td>

    </tr>
    {% endfor %}
    </tbody>
</table>

{%include "includes/pagination.html"%}

{% endblock content %}
